/* reset styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded";
  font-size: inherit;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

/* --------- end reset styles -------------- */
/* default  */
body {
  scroll-behavior: smooth;
  background-color: #000000;
}
body.lock {
  overflow: hidden;
}
body .wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  position: relative;
  max-width: 1440px;
  padding: 0 60px;
}

h1 {
  font-size: 110px;
  font-weight: 400;
  line-height: -1px;
  font-size: clamp(110px, 4vw, 50px);
}

h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: -1px;
  font-size: clamp(50px, 4vw, 40px);
}

h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: -1px;
}

p {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
}

a {
  font-family: "Poppins";
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  opacity: 0.5;
}

.link {
  color: #e1e1e1;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.link:focus, .link:hover {
  color: #fff;
}
.link:focus:after, .link:hover:after {
  width: 100%;
  left: 0%;
}
.link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.wrapper {
  background-image: url(/images/grain.svg);
}

.header {
  padding-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  gap: 185px;
  text-align: center;
  align-items: center;
  z-index: 1;
}
.header .header__logo {
  position: relative;
  z-index: 20;
  max-width: 124px;
  width: 100%;
}
.header .header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.header .header__shadow_right {
  top: 0;
  left: 24%;
}
.header .header__menu .header__menu-list {
  display: flex;
  gap: 40px;
}
.header .header__btn {
  border: #ffffff 1px solid;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 1;
  position: relative;
  max-width: 250px;
  width: 100%;
  height: 60px;
  transition: all 0.6s ease;
}
.header .header__btn:hover {
  transform: scale(1.02);
}
.header .header__burgerIcon {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  display: none;
}
.header .header__burgerIcon span {
  width: 37px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  transition: all 0.5s;
}
.header .header__burgerIcon span:nth-of-type(1) {
  top: calc(50% - 7px);
  left: 50%;
  width: 30px;
}
.header .header__burgerIcon span:nth-of-type(2) {
  top: calc(50% + 0px);
  width: 30px;
  left: 50%;
}
.header .header__burgerIcon span:nth-of-type(3) {
  top: calc(50% + 7px);
  width: 30px;
  left: 50%;
}
.header .header__burgerIcon.active span:nth-of-type(2) {
  top: 50%;
  left: 50%;
  width: 30px;
  transform: translate(-50%, 0%) rotate(45deg);
}
.header .header__burgerIcon.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.header .header__burgerIcon.active span:nth-of-type(3) {
  display: none;
}
.header .header__burgerIcon.active .menuIcon {
  visibility: visible;
}

.main {
  position: relative;
}
.main .main__shadow-bg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.main .main__container {
  min-height: 571px;
}
.main .main__img {
  width: 100%;
  max-width: 936px;
  height: auto;
  position: absolute;
  top: 43%;
  left: 56%;
  transform: translate(-50%, -50%);
}
.main .main__arrowImg {
  rotate: 180deg;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(50%, -50%);
}

.aboutUs {
  position: relative;
  margin-top: 224px;
}
.aboutUs .aboutUs__shadow-bg {
  display: none;
}
.aboutUs:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  background-image: url(/images/lighning-shadow.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.aboutUs .aboutUs__container {
  display: flex;
}
.aboutUs .aboutUs__sideTitle {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 165px;
  opacity: 0.07;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.aboutUs .aboutUs__items {
  margin-left: 85px;
}
.aboutUs .aboutUs__item {
  display: flex;
  flex-direction: column;
}
.aboutUs .aboutUs__item:nth-child(2n) {
  margin-left: 270px;
  width: 100%;
}
.aboutUs .aboutUs__item .aboutUs__title {
  margin-bottom: 20px;
}
.aboutUs .aboutUs__item .aboutUs__text {
  width: 49%;
  margin-bottom: 60px;
}

.qa {
  margin-top: 120px;
}
.qa .qa__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.qa .qa__title {
  margin-bottom: 60px;
}
.qa .qa__content {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.qa .qa__img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qa .qa__img img {
  max-width: 100%;
  height: auto;
}
.qa .qa__accordion {
  flex: 1;
}
.qa .accordion {
  cursor: pointer;
  padding: 20px 0;
}
.qa .accordion-header {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.qa .accordion-header li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.qa .accordion-headline {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}
.qa .accordion-header p {
  color: rgb(206, 233, 245);
  font-family: "Unbounded";
  font-size: 26px;
}
.qa .accordion-header span {
  color: rgb(255, 255, 255);
  font-family: "Unbounded";
  font-size: 26px;
  opacity: 0.25;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qa .accordion__img-wrap {
  display: none;
  max-width: 650px;
}
.qa .accordion__img_mob {
  display: none;
  max-width: 100%;
  height: auto;
}
.qa .accordion-header span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.qa .accordion-body {
  color: #444;
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s;
  display: none;
}
.qa .accordion-body.active {
  height: 100%;
  opacity: 1;
  margin-bottom: 10px;
  display: block;
}
.qa .accordion-body.active .accordion__img-wrap {
  display: block;
}
.qa .accordion-body p {
  margin-right: 67px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
.qa .arrow {
  transition: transform 0.2s linear;
}
.qa .accordion:has(.active) .arrow {
  transform: rotate(180deg);
}

.services {
  position: relative;
  margin-top: 200px;
}
.services .services__shadow-bg {
  position: absolute;
  top: 0%;
  left: 0;
  max-width: 100%;
  transform: translate(0%, -15%);
}
.services .services__title {
  margin-bottom: 60px;
}
.services .services__items {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px 40px;
}
.services .services__item span {
  color: rgb(255, 255, 255);
  font-family: "Unbounded";
  font-size: 26px;
  opacity: 0.25;
}
.services .services__item .services__caption {
  font-size: 26px;
  color: rgb(206, 233, 245);
  margin-top: 11px;
}
.services .services__item .services__text {
  margin-top: 53px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
.services .services__bottomLine {
  margin-top: 90px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.services .services__bottomLine .services__bottomLine_subtitle {
  font-size: 26px;
}
.services .services__bottomLine img {
  width: 180px;
}
.services .services__bottomLine .services__bottomLine_btn {
  color: rgb(0, 0, 0);
  line-height: 24px;
  max-width: 413px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(90deg, rgb(206, 233, 245), rgb(204, 204, 204) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(204, 204, 204) 100%), linear-gradient(90deg, rgb(219, 255, 0), rgb(0, 255, 194) 100%);
  transition: all 0.6s ease;
}
.services .services__bottomLine .services__bottomLine_btn:hover {
  transform: scale(1.02);
}

.ourClients {
  margin-top: 200px;
}
.ourClients .ourClients__title {
  margin-bottom: 60px;
}
.ourClients .ourClients__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 20px 20px;
}
.ourClients .ourClients__items .ourClients__item {
  max-width: 203px;
  width: 100%;
  aspect-ratio: 1/1;
}
.ourClients .ourClients__items .ourClients__item_img {
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: rgb(15, 15, 15);
}
.ourClients .ourClients__items .ourClients__item_img img {
  max-width: 100%;
  max-height: 100%;
}
.ourClients .ourClients__items .ourClients__item_img img:hover {
  transition: all 0.5s ease-in-out;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(184deg) brightness(107%) contrast(106%);
}
.ourClients__bottomLine {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  padding: 30px 50px 10px 30px;
  background: linear-gradient(90deg, rgb(206, 233, 245), rgb(204, 204, 204) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(204, 204, 204) 100%), linear-gradient(90deg, rgb(219, 255, 0), rgb(0, 255, 194) 100%), rgb(217, 217, 217);
}
.ourClients__bottomLine_title {
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.ourClients__bottomLine_text {
  width: 83%;
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 16px;
}
.ourClients__bottomLine_btn {
  background: #000000;
  opacity: 1;
  max-width: 250px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.6s ease;
}
.ourClients__bottomLine_btn:hover {
  transform: scale(1.02);
}

.contactUs__container {
  padding: 100px 60px;
}
.contactUs__info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.contactUs__desc {
  color: rgb(206, 233, 245);
  font-size: 26px;
  margin-bottom: 10px;
}
.contactUs__link {
  color: rgb(255, 255, 255);
  font-family: "Unbounded";
  font-size: 26px;
  opacity: 0.7;
}

.footer .footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .footer__info {
  display: flex;
  gap: 100px;
}
.footer .footer__socialMedia {
  display: flex;
  gap: 10px;
}
.footer .footer__socialMedia .footer__link :hover {
  transition: 0.2s;
  transform: scale(1.1);
}
@media (max-width: 1439px) {
  .aboutUs .aboutUs__sideTitle {
    line-height: 100px;
  }
}
@media (max-width: 1200px) {
  .header .header__container {
    gap: 85px;
  }
  .header .header__menu .header__menu-list {
    gap: 30px;
  }
  .main .main__img {
    left: 59%;
  }
  .aboutUs .aboutUs__sideTitle {
    font-size: 141px;
  }
  .aboutUs .aboutUs__item .aboutUs__text {
    width: 60%;
  }
  .ourClients .ourClients__items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .header .header__container {
    padding: 0 40px;
    gap: 35px;
  }
  .header .header__menu .header__menu-list {
    gap: 20px;
  }
  .header .header__btn {
    width: 16%;
  }
  .main .main__img {
    left: 60%;
  }
  .aboutUs .aboutUs__container {
    padding: 0 40px;
  }
  .aboutUs .aboutUs__sideTitle {
    margin-left: 0;
    align-self: start;
    font-size: 126px;
  }
  .aboutUs .aboutUs__items {
    margin-left: 25px;
  }
  .aboutUs .aboutUs__item .aboutUs__text {
    width: 67%;
  }
  .services .services__container {
    padding: 0 40px;
  }
  .services .services__items {
    grid-template-columns: auto auto;
  }
  .qa .qa__container {
    padding: 0 40px;
  }
  .contactUs .contactUs__link {
    font-size: 22px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .header .header__container {
    padding: 0 40px;
    gap: 35px;
  }
  .header .header__menu .header__menu-list {
    gap: 20px;
  }
  .header .header__btn {
    width: 16%;
  }
  .services .services__items {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 900px) {
  .header {
    padding-top: 20px;
    z-index: 10;
  }
  .header .header__container {
    padding: 0 40px;
  }
  .header .header__menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 10;
  }
  .header .header__menu-mobile.active {
    transform: translateX(0);
  }
  .header .header__menu-mobile .header__menu-list {
    display: none;
    position: relative;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 30px 20px;
  }
  .header .header__menu-mobile .header__menu-list .header__menu-item:first-child {
    margin-top: 53px;
    padding-top: 30px;
  }
  .header .header__menu-mobile .header__menu-list .header__menu-item .header__menu-link {
    font-size: 40px;
    line-height: 49px;
    font-family: "Unbounded";
  }
  .header .header__burgerIcon {
    right: 0;
    top: 0;
    z-index: 12;
    display: flex;
  }
  .header .header__btn {
    display: none;
  }
  .main .main__img {
    top: 43%;
    left: 50%;
    transform: translate(-40%, -50%);
  }
  .aboutUs .aboutUs__shadow-bg {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }
  .aboutUs .aboutUs__sideTitle {
    display: none;
  }
  .aboutUs .aboutUs__items {
    margin-left: 0;
  }
  .aboutUs .aboutUs__item {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .aboutUs .aboutUs__item .aboutUs__text {
    width: 100%;
  }
  .aboutUs .aboutUs__item:nth-child(2n) {
    margin-left: 0px;
    width: 100%;
  }
  .qa {
    margin-top: 40px;
  }
  .qa .qa__container {
    padding: 0 40px;
  }
  .qa .qa__container .qa__title {
    margin-bottom: 10px;
  }
  .qa .qa__content {
    flex-direction: column;
  }
  .qa .qa__img {
    display: none;
  }
  .qa .accordion-header li {
    flex-direction: column;
    align-items: start;
  }
  .qa .accordion-header li .accordion-headline {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
  }
  .qa .arrow {
    display: none;
  }
  .qa .accordion-body.active p {
    margin-right: 0;
  }
  .qa .accordion__img-wrap {
    max-width: 450px;
    display: block;
  }
  .qa .accordion__img-wrap .accordion__img_mob {
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .qa .accordion-body.active .accordion__img-wrap {
    display: block;
  }
  .services {
    margin-top: 100px;
  }
  .services .services__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .services .services__container {
    padding: 0 40px;
  }
  .services .services__items {
    grid-template-columns: auto;
  }
  .services .services__item .services__text {
    margin-top: 10px;
  }
  .services .services__bottomLine {
    flex-direction: column;
    align-items: start;
    margin-top: 60px;
    gap: 30px;
  }
  .services .services__bottomLine img {
    display: none;
  }
  .services .services__bottomLine .services__bottomLine_btn {
    margin: 0 auto;
    max-width: 350px;
  }
  .ourClients {
    margin-top: 100px;
  }
  .ourClients .ourClients__container {
    padding: 0 40px;
  }
  .ourClients .ourClients__title {
    margin-bottom: 30px;
    font-size: 40px;
  }
  .ourClients .ourClients__bottomLine {
    flex-direction: column;
  }
  .ourClients .ourClients__bottomLine .ourClients__bottomLine_desc {
    margin-bottom: 20px;
  }
  .ourClients .ourClients__bottomLine_title {
    font-size: 26px;
  }
  .ourClients .ourClients__bottomLine_text {
    width: 100%;
  }
  .ourClients .ourClients__bottomLine_btn {
    max-width: 350px;
  }
  .contactUs .contactUs__container {
    padding: 100px 40px;
  }
  .contactUs .contactUs__title {
    font-size: 40px;
  }
  .contactUs .contactUs__info {
    flex-direction: column;
    gap: 30px;
  }
  .footer .footer__container {
    padding: 40px 40px 138px;
  }
  .footer .footer__info {
    position: absolute;
    bottom: 15%;
    left: 5%;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .header .header__container {
    padding: 0 20px;
  }
  .aboutUs .aboutUs__container {
    padding: 0 20px;
  }
  .qa .qa__container {
    padding: 0 20px;
  }
  .qa .qa__container .qa__title {
    font-size: 40px;
  }
  .services .services__container {
    padding: 0 20px;
  }
  .ourClients .ourClients__container {
    padding: 0 20px;
  }
  .contactUs .contactUs__container {
    padding: 100px 20px;
  }
  .footer .footer__container {
    padding: 40px 20px 138px;
  }
  .footer .footer__info {
    left: 5%;
  }
}
@media (max-width: 480px) {
  .header .header__logo {
    width: 100%;
    max-width: 83px;
  }
  .ourClients .ourClients__items .ourClients__item {
    max-width: 165px;
  }
  .ourClients .ourClients__items .ourClients__item_img img {
    max-width: 55%;
    max-height: 100%;
  }
  .ourClients .ourClients__bottomLine {
    padding: 20px;
  }
}
@media (max-width: 390px) {
  .header .header__logo {
    width: 22vw;
    max-width: 83px;
    height: auto;
  }
  .aboutUs .aboutUs__shadow-bg {
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    max-width: 100%;
    transform: translateY(-40%);
  }
  .qa .qa__container {
    padding: 0 20px;
  }
  .qa .accordion-header .accordion__img-wrap .accordion__img_mob {
    max-width: 350px;
  }
  .services .services__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .ourClients .ourClients__items .ourClients__item {
    max-width: 155px;
  }
}
@media (max-width: 340px) {
  .header .header__logo {
    width: 24vw;
  }
  .qa .qa__container .qa__title {
    font-size: 30px;
  }
  .qa .accordion__img-wrap {
    max-width: 300px;
  }
  .ourClients .ourClients__items .ourClients__item {
    max-width: 140px;
  }
}/*# sourceMappingURL=main.css.map */